 <!-- content -->
<div class="col-md-10">
            <div class="row">
                <div class="navbar navbar-default bootstrap-admin-navbar-thin">
                    <ol class="breadcrumb bootstrap-admin-breadcrumb">
                        <li>
                            <a href="{:U('index/index')}">首页</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row bootstrap-admin-no-edges-padding">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-muted bootstrap-admin-box-title">采集信息</div>
                            <div class="pull-right"><span class="badge">今日累计采集数 14564</span></div>
                        </div>
                        <div class="bootstrap-admin-panel-content">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>采集类型</th>
                                    <th>采集数</th>
                                    <th>任务开始时间</th>
                                    <th>任务结束时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>美食</td>
                                    <td>1221</td>
                                    <td>2018-07-10 07:06:01</td>
                                    <td>2018-07-10 07:15:01</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="panel panel-default bootstrap-admin-no-table-panel">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">后台负载</div>
                    </div>
                    <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                        <div class="charts" id="charts-load"></div>
                        <div class="chart-bottom-heading">
                            <span class="label label-info">服务器时区：东八区</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default bootstrap-admin-no-table-panel">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">后台登录统计</div>
                        <div class="pull-right"><span class="badge">今日登录总数:100次</span></div>
                    </div>
                    <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                        <div class="charts" id="charts-error"></div>
                        <div class="chart-bottom-heading">
                            <span class="label label-info">登录成功率：3/100次</span>
                        </div>
                    </div>
                </div>
            </div>

</div>
<script>
    $(function () {
        var chart = Highcharts.chart('charts-error', {
            title: {
                text: '登录错误率'
            },
            tooltip: {
                headerFormat: '{series.name}<br>',
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,  // 可以被选择
                    cursor: 'pointer',       // 鼠标样式
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '错误类型',
                data: [
                    ['验证码错误',   45.0],
                    ['正常登录',       26.8],
                    ['密码错误',    8.5],
                    ['其他',   0.7]
                ]
            }]
        });
    });
</script>