<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="__PUBLIC__/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- Bootstrap Admin Theme -->
    <link href="__PUBLIC__/css/bootstrap-admin-theme.css" rel="stylesheet" media="screen">
    <style>
        .subset a:hover{
            background-color: #21a9ec !important;
            color: #fff;
        }
        .nav>li>a:hover, .nav>li>a:focus {
            text-decoration: none;
            background-color: #08C;
            color: #fff;
        }
        .subset-node > li:first-child > a {
            -webkit-border-radius:  0;
            -moz-border-radius: 0;
            border-radius:  0;
        }
        /*.style="width: 110px; height: 110px; line-height: 110px;"*/
        .charts{
            min-width: 400px;
            height: 400px;
            /*line-height: 110px;*/
            /*style="min-width:400px;height:400px"*/
        }
        .dataTables_filter label{
            float: right;
        }
        #tableList_paginate{
            float: right;
        }
    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="__PUBLIC__/vendors/jquery-1.9.1.js"></script>
    <script type="text/javascript">
        // datatables language
        var lang = {
            lengthMenu: '<select class="dataTables_length form-control" >' +
            '<option value="10">10</option>' +
            '<option value="25">25</option>' +
            '<option value="50">50</option>' +
            '<option value="75">75</option>' +
            '<option value="100">100</option>' +
            '<option value="500">500</option>' +
            '</select>',
            search: '',
            oPaginate: {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            zeroRecords: "<div>没有内容</div>",
            info: "<div>共_PAGES_ 页，当前_START_ - _END_ ，筛选后 _TOTAL_ 条，初始_MAX_ 条 </div>",
            infoEmpty: "<div>0条记录</div>",//筛选为空时左下角的显示。
            infoFiltered: "",
            sLoadingRecords: "载入中...",
            sProcessing: "处理中...",
            oAria: {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        };
    </script>
</head>
<body class="bootstrap-admin-with-small-navbar">
<!--Top navigation bar-->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top " role="navigation">
    <div class="container">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">admin</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <volist name="config['navigation']" id="vo"  >
                    <ul class="nav navbar-nav">
                        <li><a href="{:U($vo['name'].'/index')}">{$vo['title']}</a></li>
                    </ul>
                </volist>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">重置密码</a></li>
                            <li><a href="#">查看权限</a></li>
                            <li class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </div>
</nav>

<div class="container">
    <!-- left, vertical navbar & content -->
    <div class="row">
        <!-- left, vertical navbar -->
        <div class="col-md-2 bootstrap-admin-col-left">
            <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                <volist name="config['current']['h3']" id="data">
                    <li class="parent-node {$data['active']|default=''}">
                        <a href="javacript:void(0);"><i class="glyphicon glyphicon-chevron-right"></i> {$data['title']}</a>
                    </li>
                    <ul class="subset-node nav navbar-collapse collapse bootstrap-admin-navbar-side">
                        <volist name="data['children']" id="h4">
                            <li class="subset" {$h4['active']} >
                                <a href="{:U($h4['name'])}"> {$h4['title']}</a>
                            </li>
                        </volist>
                    </ul>
                </volist>
                <!--<li class="parent-node">-->
                <!--<a href="javacript:void(0);"><i class="glyphicon glyphicon-chevron-right"></i> 首页2</a>-->
                <!--</li>-->
                <!--<ul class="subset-node nav navbar-collapse collapse bootstrap-admin-navbar-side">-->
                <!--<li class="subset" style="display: none">-->
                <!--<a href="#"> 首页信息2</a>-->
                <!--</li>-->
                <!--<li class="subset" style="display: none">-->
                <!--<a href="#"> 关于我们2</a>-->
                <!--</li>-->
                <!--</ul>-->
            </ul>
        </div>
        <main class="col-md-10">